html, body {
  margin: 0;
  padding: 0;
}

body {
  background: radial-gradient(circle at center, #0f172a, #000000);
}

.background {
  min-height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}


.logo-img {
  width: 350px;
}

.p1{color: #93c5fd;
text-align: center;
font-size:28px;

}
.heading1{
    color: #22c55e;
    text-align: center;
    font-size:36px;
    text-shadow: 0 0 10px #3b82f6;

}

.logo-container {
  width: 90%;
  margin: 40px auto;
  padding: 30px;

  background: #000000;

  border-radius: 45px;
  border: 1px solid rgba(5, 99, 249, 0.786);
}
.logo-row {
  display: flex;
  align-items: center;
  width: 100%;
}

.logo-left {
  margin-right: auto;
}

.logo-center {
  margin: 0 auto;
}

.logo-right {
  margin-left: auto;
}
.lm1{
      color: #22c55e;
}
.header2{
  color: #93c5fd;
      text-shadow: 0 0 10px #eb1c09;
      font-family: 'Orbitron', sans-serif;


}
 